@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

html {
  min-width: 350px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.mainBody {
  height: auto;
}

.insideBody {
  padding: 5% 5%;
  height: 100%;
}

#inicio {
  background: url(./images/mainImg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  object-fit: cover;
  box-shadow: inset 0 0 10px #000000;
}

/*#region Nav Style*/
nav {
  font-family: 'Titillium Web', sans-serif;
  position: fixed;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

nav h2 {
  margin-left: 4vw;
  font-size: 2vw;
}

nav ul {
  display: flex;
  list-style-type: none;
}

ul li {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  margin: 0 30px;
  align-items: center;
}

ul li:last-child {
  margin-right: 50px;
}

ul li a h3 {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5vw;
  align-items: center;
}

ul li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: whitesmoke;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

ul li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
/*#endregion*/

/*#region Carousel*/
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-button-prev {
  color: white;
}

.swiper-button-next {
  color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(1px);
}

/*#endregion*/

/*#region Inicio*/
.descricao {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 4% 0%;
}

.descricao h2 {
  font-size: 4vw;
  line-height: 125%;
}

.descricao h3 {
  margin-top: 4%;
  font-size: 1.5vw;
  color: rgb(228, 228, 228);
  line-height: 130%;
}

.btn {
  width: 80%;
  margin-top: 4%;
  font-size: 1.5vw;
}

/*#endregion*/

/*#region Responsive configs*/
@media only screen and (min-width: 601px) {
  .nav-item {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .nav-item {
    padding: 0;
    margin: 0;
  }

  .dropdown-toggle {
    display: flex;
    flex-direction: column;
    padding: 1px 10px;
    margin: 0;
    font-size: 35px;
  }

  .dropdown-toggle p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  #inicio {
    background-position: 40% 0;
    background-size: 100vh;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  nav h2 {
    font-size: 30px;
    margin-left: 4vw;
  }

  nav ul {
    display: none;
  }

  .descricao {
    width: 40%;
    margin: 10% 3%;
  }
}

@media only screen and (max-width: 450px) {
  .mainBody {
    height: auto;
  }

  .descricao {
    width: 100%;
    padding: 5% 0;
    margin: 10% 0;
  }

  .descricao h2 {
    font-size: 30px;
  }

  .descricao h3 {
    font-size: 20px;
  }

  .btn {
    font-size: 20px;
    width: 90%;
  }

  nav h2 {
    margin-left: 2vw;
  }
}
/*#endregion*/
