/* #region Main */

html {
  min-width: 360px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.mainBody {
  height: auto;
}

.insideBody {
  padding: 5% 5%;
  height: 100%;
}

.titulo {
  margin-bottom: 30px;
  text-align: start;
}

/* #endregion */

/*#region Nav */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

nav h2 {
  margin-left: 4vw;
  font-size: 2vw;
}

nav ul {
  display: flex;
  list-style-type: none;
}

ul li {
  text-align: center;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  margin: 0 30px;
  align-items: center;
}

ul li:last-child {
  margin-right: 50px;
}

ul li a h3 {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5vw;
  align-items: center;
}

ul li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: whitesmoke;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

ul li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
/*#endregion*/

/*#region Inicio*/

#inicio {
  background: url(./images/mainImg.jpg);
  background-repeat: no-repeat;

  background-size: 100%;
  box-shadow: inset 0 0 10px #000000;
}

.descricaoInicio {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 4% 0%;
}

.descricaoInicio h2 {
  font-size: 4vw;
  line-height: 125%;
}

.descricaoInicio h3 {
  margin-top: 4%;
  font-size: 18px;
  color: whitesmoke;
  line-height: 130%;
}

.btn {
  width: 80%;
  margin-top: 4%;
  font-size: 1.5vw;
}

/*#endregion*/

/* #region Sobre */

.sobreDescricao {
  display: inline-block;
  width: 45%;
  padding-bottom: 30vh;
}

.sobreDescricao h2 {
  background-color: whitesmoke;
  padding: 10px;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 140%;
}

.sobreImg {
  width: 50%;
  border: whitesmoke 1px solid;
  float: right;
  border-radius: 5px;
}

.sobreDescricao .btn {
  margin: 0;
  font-size: 1.5vw;
}

/* #endregion */

/*#region Principais Peças*/
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-button-prev {
  color: white;
}

.swiper-button-next {
  color: white;
}

.swiper-slide {
  text-align: start;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCarousel {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(4px);
}

.roupas {
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  padding: 2.5vw;
  width: 18vw;
  box-shadow: inset 0 0 30px #e7e5e509;
}

.textoCarousel {
  width: 50%;
  margin-right: 9vw;
  margin-bottom: 9vw;
}

.textoCarousel h2 {
  font-size: 35px;
}

.textoCarousel p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.textoCarousel .btn {
  width: 65%;
}

/*#endregion*/

/*#region Dúvidas Frequentes*/
.card {
  padding: 0;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0);
  border: whitesmoke 1px solid;
  border-radius: 0;
}

.card button {
  width: 100%;
  text-decoration: none;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-align: start;
  font-size: 80%;
}

.card button:hover {
  color: whitesmoke;
}

/*#endregion*/

/* #region Contato*/
#contato img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(2px);
}

.contatoForms {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.form-control {
  margin: 10px 0 0 0;
}

.contato .btn {
  margin: 10px 0;
  font-size: 15px;
  width: 30vw;
}

/* #endregion */

/* #region Footer */

.footer {
  width: 100%;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}

/* #endregion */

/*#region Responsive configs*/
@media only screen and (min-width: 601px) {
  .nav-item {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /*#region Nav Responsive*/
  .nav-item {
    padding: 0;
    margin: 0;
  }

  .dropdown-toggle {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 0;
    font-size: 35px;
  }

  .dropdown-toggle p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  nav h2 {
    font-size: 30px;
    margin-left: 4vw;
  }

  nav ul {
    display: none;
  }

  /*#endregion*/

  .sobreDescricao .btn {
    font-size: 20px;
  }

  .sobreDescricao {
    width: 100%;
  }
  .sobreImg {
    display: none;
  }

  #inicio {
    background-position: 40% 0;
    background-size: 100vh;
  }

  /*#region Carousel Responsive*/

  .descricaoInicio {
    width: 40%;
    margin: 10% 3%;
  }

  .textoCarousel .btn {
    width: 65%;
    font-size: 3vw;
  }

  /*#endregion*/
}

@media only screen and (max-width: 450px) {
  /* Responsive body */
  .mainBody {
    height: auto;
  }

  /* Responsive Nav */
  nav h2 {
    margin-left: 2vw;
  }

  /*#region Carousel Responsive*/

  .descricaoInicio {
    width: 100%;
    padding: 5% 0;
    margin: 10% 0;
  }

  .descricaoInicio h2 {
    font-size: 30px;
  }

  .descricaoInicio h3 {
    font-size: 20px;
  }

  .btn {
    font-size: 20px;
    width: 90%;
  }

  .textoCarousel {
    width: 40%;
    margin: 0 10px;
  }

  .textoCarousel p {
    font-size: 15px;
  }

  .textoCarousel h2 {
    font-size: 25px;
  }

  .roupas {
    width: 30%;
  }

  /*#endregion*/
}
/*#endregion*/
